@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Scrollbar container (fixed at the top-right corner) */
.scrollbar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
  z-index: 1000;
}

/* Scrollbar thumb */
.scrollbar-thumb {
  width: 10px;
  background-color: #3498db; /* Color of the scrollbar thumb */
  border-radius: 5px;
  transition: height 0.3s ease;
}

/****/
.menu {
  padding: 10rem 0 20vh 0;
  width: 90vw;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  counter-reset: menucounter;
}

.menu__item {
  flex: none;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-left: 5rem;
}

.menu__item::before {
  counter-increment: menucounter;
  content: counters(menucounter, ".", decimal-leading-zero);
  position: absolute;
  left: 0;
  border-left: 3px solid currentColor;
  top: 20%;
  height: 60%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  line-height: 1;
  font-weight: bold;
  opacity: 0;
  transform: translateX(-1rem);
  transition: transform 0.3s, opacity 0.3s;
}

.menu__item:hover::before {
  opacity: 1;
  transform: translateX(0);
}

.menu__item-text {
  position: relative;
  padding: 0.5rem;
  display: block;
  overflow: hidden;
  font-size: 6vw;
}

.menu__item-sub {
  display: none;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  align-items: center;
  position: relative;
  margin-left: 2rem;
  padding-left: 3rem;
  opacity: 0;
  transform: translateX(-1rem);
  transition: transform 0.3s, opacity 0.3s;
}

.menu__item:hover .menu__item-sub {
  opacity: 1;
  transform: translateX(0);
}

.menu__item-sub::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  width: 1px;
  height: 70%;
  background: currentColor;
  transform-origin: 0 100%;
  transform: rotate(22.5deg) scale3d(1, 0, 1);
  transition: transform 0.3s;
}

.menu__item:hover .menu__item-sub::before {
  transform: rotate(22.5deg) scale3d(1, 1, 1);
}

@media screen and (min-width: 53em) {
  .menu {
    padding-top: 20vh;
  }
  .menu__item {
    padding-left: 12rem;
    justify-content: flex-start;
  }
  .menu__item-text {
    padding: 1vh 0;
    font-size: 4vw;
  }
  .menu__item-sub {
    display: flex;
  }
}
